.heading {
    font-size: 20px;
    &--lg {
        margin-bottom: 20px;
        font-size: 32px;
        text-align: center;
    }
    &--secondary {
        margin-bottom: 20px;
        &-with-helper {
            margin-bottom: 5px;
        }
    }
    &--center {
        text-align: center;
    }
}
