.heading {
    font-size: 20px;
    &--lg {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 32px;
        text-align: center;
    }
    &--secondary {
        margin-bottom: 20px;
    }
    &--center {
        text-align: center;
    }
}
