.menu {
    display: flex;
    padding: 10px 0;
    margin: 0;
    align-items: stretch;
    list-style: none;
    &__list-item {
        display: flex;
        flex-grow: 1;
        padding: 0;
        height: 100%;
        border-right: 1px solid #fafafa;
        &:last-child {
            border-right: none;
        }
    }
    &__option {
        display: flex;
        height: 100%;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fafafa;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        &--active {
            color: #55a1e6;
        }
    }
    &__icon {
        font-size: 28px;
    }
}
