.menu {
    display: flex;
    padding: 10px 0;
    margin: 0;
    align-items: stretch;
    list-style: none;
    &__list-item {
        display: flex;
        flex-grow: 1;
        flex-basis: 33%;
        padding: 0;
        height: 100%;
        border-right: 1px solid #fafafa;
        color: #fafafa;
        &:last-child {
            border-right: none;
        }
    }
    &__option {
        display: flex;
        height: 100%;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fafafa;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        &--active {
            color: #55a1e6;
        }
    }
    &__label {
        margin-top: 3px;
        font-size: 12px;
    }
    &__icon {
        font-size: 28px;
    }
    &__text {
        height: 100%;
        width: 100%;
        line-height: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &--top {
        .menu__list-item {
            padding: 0 15px;
            flex-basis: initial;
            align-items: center;
            &:first-child {
                width: 75%;
            }
            &:last-child {
                text-align: center;
            }
        }
    }
}
